
/* SITE WRAPPERS (sitewrapper 100% & midwrapper 65%) */
body {
    font-size:1.8em;
}


.sitewrapper {
    position:absolute;
    display:inline;
    text-align:center;
    width:100%;
    height:100%;
    margin:0;
    padding:20px;
}

.midwrapper {
    width:95%;
    height:95%;
    font-size:1em;
    margin-left:auto;
    margin-top:2%;
    margin-right: auto;
    border-radius:5px; 
    border:2px solid #F2F2F2;
    text-align:center;
    vertical-align:middle;
    display:table;
}


/* LOGINSCREEN */

.login {
    display:inline-block;
    vertical-align: middle;
    text-align: center;
}




/* GAMESCREEN */

.game {
    float:left;
    position:relative;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    width:45%;
    height:35%;
    border-radius:5px; 
    border:2px solid #F2F2F2;
    background-color:#E6E6E6;
    overflow:auto;
}

.game:hover {
    background-color:#FFFFFF;
    border:2px solid #9daca9;
}


.gametitle {
	font-size:1em;

}

.gamedescription {
	font-size:0.8em;
    margin:5px;
}

/* GAMEPLAY */

.gamewrapper {
    display:inline-block;
    vertical-align: middle;
    text-align: center;
}

#team1 {
    visibility:hidden;
}

#team2 {
    visibility:hidden;
}



/* UNDEFINED */

input:required {
	border: 1px solid red;
}

.loginform ul {  
    padding: 0;  
    margin: 0;  
}  
.loginform li {  
    display: inline;  
    float: left;  
}  

label {  
    display: block;  
}  
.cf:before,  
.cf:after {  
    content: "";   
    display: table;  
}  
  
.cf:after {  
    clear: both;  
}  
.cf {  
    *zoom: 1;  
}  
:focus {  
    outline: 0;  
}  

.loginform input:not([type=submit]) {  
    padding: 5px;  
    margin-right: 10px;  
    border: 1px solid rgba(0, 0, 0, 0.3);  
    border-radius: 0px;  
}  



/* SCROLL */

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 84px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* SLIDEPAGES */

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform:translate3d(0,0,0);
}
 
.stage-center {
    top: 0;
    left: 0;
}
 
.stage-left {
    left: -100%;
}
 
.stage-right {
    left: 100%;
}
 
.transition {
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}

/* TOPCOAT STYLING */

