.sitewrapper {
    position:absolute;
    display:table;
    text-align:center;
    width:100%;
    height:100%;
    margin:0;
    padding:20px;
}

.midwrapper {
    width:45%;
    height:60%;
    margin-left:auto;
    margin-top:5%;
    margin-right: auto;
    border-radius:5px; 
    border:2px solid #F2F2F2;
    text-align:center;
}

.game {
    float:left;
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    width:45%;
    height:45%;
    border-radius:5px; 
    border:2px solid #F2F2F2;
    background-color:#E6E6E6;
    overflow:auto;
}

.game:hover {
    background-color:#FFFFFF;
}


.gametitle {
	font-size:1em;

}

.gamedescription {
	font-size:0.8em;
}

/* .login {
    position:relative;
    width:45%;
    height:30%;
    margin-left:5%;
    margin-top:5%;
    border-radius:5px; 
    border:2px solid #F2F2F2;
    background-color:#D1D1D1;
    overflow:auto;
    text-align: center;
}



#loginarea {
    width:45%;
    height:60%;
    margin-left:auto;
    margin-top:5%;
    margin-right: auto;
    border-radius:5px; 
    border:2px solid #F2F2F2;
    text-align:center;
}
*/


input:required {
	border: 1px solid red;
}

.loginform ul {  
    padding: 0;  
    margin: 0;  
}  
.loginform li {  
    display: inline;  
    float: left;  
}  

label {  
    display: block;  

}  


.cf:before,  
.cf:after {  
    content: "";   
    display: table;  
}  
  
.cf:after {  
    clear: both;  
}  
.cf {  
    *zoom: 1;  
}  
:focus {  
    outline: 0;  
}  

.loginform input:not([type=submit]) {  
    padding: 5px;  
    margin-right: 10px;  
    border: 1px solid rgba(0, 0, 0, 0.3);  
    border-radius: 0px;  


}  

