<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.vintervila.phonegapwebtest"
        versionCode="9"
        version   = "0.9.0">

    <!-- versionCode is optional and Android only -->

    <name>phonegap-web-test</name>

    <description>
        
    </description>

    <author href="http://github.com/pppontusw" email="pontus@pontusw.com">
        Pontus Wiberg
    </author>

</widget>
